<!doctype html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="./static/img/Logotipo_Fina_Flor__3_-removebg-preview.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sistema Floricultura Fina Flor</title>
</head>
<body>
    <section id="presentation">
        <div id="container">
            <div>
                <h1 id="sistema">Sistema Floricultura Fina Flor</h1>
                <div>
                    <h2 id="sobre">sobre o trabalho</h2>
                    <p id="work">Foi desenvolvido para o terceiro trabalho do <br> curso de Python + WEB oferecido pela UFSC, <br> conheça o sistema Floricultura Fina Flor:</p>
                </div>
                <div id="dia">
                    <a class="cv" href="cadastro2.html">Adicionar Produto</a>
                    <a class="cv" href="lista2.html">Lista de Produtos</a>
                </div>
            </div>           
        </div>            
    </section>
</body>
</html>